/* Import custome fonts from fonts.css file */
@import url("./partials/fonts.css");
@import url("./partials/variables.css");
@import url("./mediaquery.css");

/* used by all sections and pages */
img {
  object-fit: cover;
}
.btn-primary {
  background-color: var(--bg-primary-dark);
}

.btn-secondary {
  background-color: var(--bg-secondary-dark);
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--bg-secondary-dark);
}

.btn-secondary:hover {
  background-color: var(--bg-primary-dark);
}

.toast {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
}

.page-header {
  min-height: 80dvh;
  max-height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-dim-bg {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 43, 0.7);
}

.header_content {
  text-align: center;
  text-transform: capitalize;
  z-index: 3;
}

/* Hero section for pages */
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(15, 23, 43, 0.7);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

@media (max-width: 991px) {
  .navbar-brand img {
    height: 70px !important;
    width: 70px !important;
  }
}

@media (min-width: 992px) {
  .navbar {
    background-color: transparent !important;
    transition: background-color 0.3s ease;
    color: #352d2d !important;
    box-shadow: none !important;
  }

  .navbar .nav-link {
    color: #fff !important;
  }

  .navbar.scrolled {
    background-color: var(--bg-primary-light) !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) !important;
  }

  .navbar-brand {
    color: #fff !important;
  }

  .navbar.scrolled .navbar-brand img {
    height: 90px !important;
    width: 90px !important;
  }

  .navbar.scrolled .nav-link {
    color: #000 !important;
  }
}

/* start navigation */
.header_area .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  background: var(--bg-primary-light);
  z-index: 10000;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.header_area .navbar-brand {
  color: var(--black);
  font-family: var(--title-font);
  text-transform: capitalize;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: var(--page-font);
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.8rem;
  color: #000;
}

.header_area .main-menu .navbar-nav a {
  text-align: center;
  transition: border-bottom 0.2s;
}

.header_area .main-menu .navbar-nav a:hover {
  border-bottom: 3px solid rgb(58, 58, 110);
}

/* facility starts here */
.facility-section {
  position: relative;
  background-color: var(--bg-primary-dark);
  color: var(--black);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.23rem;
}

.facility-section svg {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: var(--bg-primary-dark);
  background-color: var(--bg-secondary-dark);
}

.facility-box {
  background-color: var(--bg-primary-light);
  border: 1px solid var(--bg-secondary-dark);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.facility-box:hover {
  box-shadow: 0 4px 10px rgba(24, 13, 13, 0.15);
}

.facility-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--bg-secondary-dark);
  color: var(--white);
  font-family: var(--page-font);
}

.facility-header i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.facility-header.active .arrow {
  transform: rotate(180deg);
}

.facility-description {
  padding: 0 1rem 1rem 1rem;
  display: none;
  font-size: 0.9rem;
  background-color: var(--white);
  line-height: 1.4;
}

.facility-description.show {
  display: block;
}

/* Gallery starts here */
.gallery-section {
  position: relative;
  padding: 60px 20px;
  text-align: center;
  background-color: var(--bg-primary-light);
}

.gallery-section svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: var(--white);
  fill: var(--bg-primary-light);
}

.gallery-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.gallery-section p {
  font-size: 1rem;
  margin-bottom: 40px;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
  color: #1e11e2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1.5rem;
  font-weight: bold;
}

.swiper-slide:hover .overlay {
  opacity: 1;
}

.gallery-section .swiper-pagination-bullet {
  background-color: #f8f0f0 !important;
}

.gallery-section .swiper-pagination-bullet-active {
  background-color: #0d0674 !important;
}
/* Gallery Page */
#galleryModal {
  z-index: 100001;
}
/* About us starts here */
.about {
  background: url("../assets/images/about/about-4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  padding: 90px 0;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(15, 21, 37, 0.6);
  z-index: 2;
}

.about .titlepage {
  position: relative;
  text-align: left;
  padding: 0;
  z-index: 3;
}

.about .titlepage h2 {
  margin-bottom: 20px;
}

.about .titlepage p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 30px;
}

.about_text {
  max-width: 539px;
  width: 100%;
}

.about_img {
  max-width: 615px;
  width: 100%;
}

.about_img figure {
  margin: 0;
}

.about_img figure img {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
  z-index: 3;
}

/* About page starts here */
.about-inner-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.about-toggle-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.about-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 100%;
  aspect-ratio: 3/2.5;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.about-item {
  background-color: var(--white);
  border: 1px solid var(--bg-secondary-dark);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.about-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--bg-secondary-dark);
  color: var(--white);
}

.about-header i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.about-header.active .arrow {
  transform: rotate(180deg);
}

.about-description {
  padding: 0 1rem 1rem 1rem;
  display: none;
  font-size: 0.9rem;
  color: var(--text-color-dark);
  line-height: 1.4;
}

.about-description.show {
  display: block;
}

.values-section {
  background-color: var(--white);
}

.interactive-toggle {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.interactive-toggle .toggle-header {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--bg-secondary-dark);
  color: #fff;
  transition: background-color 0.3s ease;
}
.interactive-toggle .toggle-header:hover {
  background-color: var(--bg-primary-dark);
}
.interactive-toggle .toggle-body {
  display: none;
  padding: 20px;
  font-size: 1.1rem;
  color: #555;
  border-top: 1px solid #ddd;
}

.interactive-toggle.active {
  border-radius: 15px 15px 0 0;
}
.interactive-toggle.active .toggle-body {
  display: block;
}
.toggle-header i {
  margin-left: 10px;
  transition: transform 0.3s ease;
}
.toggle-header.active {
  color: var(--black);
}

.toggle-header.active i {
  transform: rotate(180deg);
}

.amenities-section {
  padding: 60px 20px;
}
.amenities-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}
.amenities-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.amenities-list .amenity {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.amenities-list .amenity:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}
.amenities-list .amenity i {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}
.amenities-list .amenity h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}
.amenities-list .amenity p {
  font-size: 1rem;
  color: #777;
}

/* Testimonial starts here */
.testimonials-section {
  background-color: var(--white);
}
.testimonials-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.testimonials-subtitle {
  font-size: 1rem;
  color: #222;
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--bg-primary-dark);
}

.testimonials-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.testimonial-avatar {
  margin-bottom: 15px;
}

.testimonial-avatar img {
  border-radius: 50%;
  border: 3px solid #333;
  width: 80px;
  height: 80px;
}

.testimonial-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.testimonial-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.testimonial-role {
  font-size: 0.9rem;
  color: #777;
}

.testimonials-button-next,
.testimonials-button-prev {
  color: #333;
}

.testimonials-pagination-bullet {
  background-color: var(--bg-primary-light) !important;
}

.testimonials-pagination-bullet-active {
  background-color: var(--bg-secondary-dark) !important;
}
/* Booking page */
.booking-section {
  position: relative;
  padding-bottom: 40px;
}

.toast {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
}

/* Contact Form Section */
.contact-form-section {
  position: relative;
  min-width: 100%;
  border-radius: 8px;
}

.contact-form-section .section-title {
  border-color: #0000ff !important;
}

.g-4 {
  padding-block: 10px 40px;
}

.section-title {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

/* Form Styling */
.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-floating .form-control {
  border-radius: 8px;
  padding: 12px 15px;
}

.form-floating label {
  padding-left: 15px;
}

/* Map Styling */
.contact-container,
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .form-container,
  .map-container {
    padding: 20px;
  }

  .section-title {
    font-size: 1.75rem;
  }
}

@media (max-width: 576px) {
  .form-container,
  .map-container {
    padding: 15px;
  }

  .section-title {
    font-size: 1.5rem;
  }
}

/* Footer starts here */
.footer-section {
  padding: 40px;
}

.footer-section .text-body-secondary {
  color: #000;
}

.footer-section address {
  height: 70px;
}
.footer-section .footer-contact p {
  height: 0;
}

.footer-section .social-svg {
  width: 26px;
  height: 26px;
}

.footer-section .nav-item {
  display: inline-flex;
  gap: 5px;
}

.page-navigation {
  display: none;
}

.footer-section .row {
  display: flex;
  justify-content: space-between;
}

.footer-section .border-top {
  border-color: var(--white) !important;
}

/* Go-top */
.go-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 77;
  font-size: 18px;
  text-align: center;
  background: var(--bg-secondary-light);
  color: #fff !important;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.go-top.go-top-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.go-top.go-topfade-out {
  opacity: 1;
}
@media (max-width: 991px) {
  .go-top {
    right: 20px;
    bottom: 20px;
  }
}
@media (min-width: 992px) {
  .go-top {
    height: 60px;
    width: 60px;
    line-height: 60px;
    right: 30px;
    bottom: 60px;
  }
}
