@import url("./fonts.css");
/* CSS Variables */

:root {
  --bg-primary-light: #afeeee;
  --bg-secondary-light: #4a8bdf;
  --bg-primary-dark: #4169e1;
  --bg-secondary-dark: #044ead;
  --text-color: #000;
  --white: #f1f0f7;
  --black: #000000;

  /* font family variables */
  --page-font: "Page font";
  --title-font: "Title font";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary-light);
  color: var(--text-color);
  font-family: "Page font", sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-family: "Broadway";
  text-shadow: 2px 2px 3px #00000086;
}
